.footer {
  background: url("https://sit-nagpur-prod.web.app/assets/images/bg/symbg.jpg")
    no-repeat center center/cover;
  color: white;
  padding: 50px 20px;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* dark overlay */
  z-index: 0;
}

.footer-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  z-index: 1;
  max-width: 1200px;
  margin: auto;
}

.footer-column {
  flex: 1;
  min-width: 220px;
}

.institute-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-column h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #ffffff;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-column ul li a:hover {
  color: #fff;
}

.footer-column p {
  margin-bottom: 10px;
  color: #ccc;
}

.social-icons a {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #f9f9f9;
}
