* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
}
.logo img {
  width: 200px;
}
.navbar {
  background-color: #fff;
  border-bottom: 2px solid #dcdcdc;
  padding: 10px 30px;
  justify-content: space-between;
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  position: relative;
}

.nav-item a {
  text-decoration: none;
  padding: 12px 18px;
  display: block;
  color: #111;
  font-weight: 600;
}
.nav-item button {
  text-decoration: none;
  padding: 12px 18px;
  display: block;
  color: white;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: red;
  border-radius: 20px;
  cursor: pointer;
}
.nav-item a:hover {
  background-color: #f1f1f1;
}
.video {
  width: 100%;
  height: auto;
}
